.page {
    background-color: rgb(29, 29, 29);
    min-height: 100vh;
    height: fit-content;
}

.flexbox {
    width: 100%;
    height: fit-content;
    /* background-color: rgba(255, 181, 181, 0.238); */
    display: flex;
    justify-content: flex-end;
}

.texture_box {
    /* border: 1px solid blue; */
    background-image: url("./textures/Block_of_Gold.webp");
    background-size: contain;
}