.page {
    background-color: rgb(29, 29, 29);
    min-height: 100vh;
    height: fit-content;
}

.flexbox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
}

.texture_box {
    box-shadow: 0px 0px 0px 3px rgb(29, 29, 29) inset;
    background-size: contain;
    background-color: rgb(195, 195, 195);
    transition: background-color 0.5s;
}