html {
    background-color: lightgrey;
}

a {
    text-decoration: none;
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    font-size: 20pt;
}
a:hover {
    background-color: black;
    color: red;
}