:root {
    --table_size: 50vh;
}

.page {
    background-color: rgb(41, 57, 85);
    height: 100vh;
}

.flex_body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: teal; */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

table {
    height: var(--table_size);
    width: var(--table_size);
    border-spacing: 0px;
    border: 5px solid black;
    background-color: black;
}

/* @keyframes slide-right {
    from {transform: translateX(-80px);}
    to {transform: translateX(0px);}
} */

td {
    font-size: 20pt;
    text-align: center;
    background-size: contain;
    /* animation-name: slide-right; */
    /* animation-duration: 2s; */
    /* transition: transform 1s; */
}
/* td:hover {
    transform: translateX(40px);
} */
