/* Minecraft block textures: 
https://minecraft.fandom.com/wiki/List_of_block_textures */
.background_img {
  background-image: url('obsidian.webp');
  background-size: 4%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
